Host github.com
  User git
  HostName github.com
  IdentityFile ~/.ssh/id_rsa
  StrictHostKeyChecking no

Host internal-git
  User git
  HostName git.internal
  Port 22
  IdentityFile ~/.ssh/id_rsa
  StrictHostKeyChecking no
